body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente */
    min-height: 100vh;       /* Altura mínima para ocupar toda la pantalla */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
header {
    background-color: #2b70e4;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 0 0 32px 32px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: auto;
    max-height: 120px;
    width: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .logo img:hover {
    transform: scale(1.1);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    transition: transform 0.3s ease, color 0.3s ease;
    padding: 8px 12px;
  }
  
  .nav-links li a:hover {
    transform: scale(1.1);
    color: #79adeb66;
  }
  .slogan{
    font-size: 1rem;
    font-family: 'Nexa Bold', sans-serif;
    color: white;
    font-weight: bold;
    background-color: #5E96F4;
    border-radius: 45px;

  }
  main {
    display: flex;
    justify-content: center; /* O space-around, si quieres separación */
    align-items: center;
    width: 90%;
    max-width: 1000px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0; /* Opcional, da espacio entre header y footer */
  }
  
.login-container {
    flex: 1;
    text-align: center;
    padding: 20px;
}
.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #2a62ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #1e4bd6;
}
.social-login button {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}
.facebook { background-color: #4267B2 !important; }
.google { background-color: #DB4437 !important; }
.apple { background-color: #000 !important; }

.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
}
.image-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}
footer {
    background-color: #0056b3;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-radius: 25px 25px 0px 0px;
}
