body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #5E96F4;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav {
    margin: 1rem 0;
    text-align: center;
}
nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
}
nav a:hover {
    color: #5E96F4;
}
.menu {
    border-color: #5E96F4;
    border-style: solid;
    border-radius: 20%;
}
.botones{
    border-style: solid;
    border-radius: 20%;
    border-color: black;
    display: inline-block;
}
.container {
    padding: 2rem;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}