body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2b70e4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 100px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    height: 90px;
    width: auto;
    margin-right: 15px;
    object-fit: contain;
    object-position: right;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search-bar {
    text-align: center;
    padding: 20px;
    background-color: white;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #1f73d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.car-selection, .common-cars {
    text-align: center;
    padding: 20px;
}

.car-slider {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.car-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.car-card img {
    width: 100%;
    border-radius: 10px;
}

.car-card button {
    background-color: #1f73d1;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #2b70e4;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 100px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}